<header>
    <h1>Header</h1>

    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url "users:logout" %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url "social:begin" "github" %}">Github으로 로그인 하기</a>
        </li>
        <li>
            <a href="{% url "users:login" %}">Login</a>
        </li>
        <li>
            <a href="{% url "users:signup" %}">Sign up</a>
        </li>
        {% endif %}
    </ul>
</header>